/* @font-face {
    font-family: para;
    src: url(Exo2-VariableFont_wght.ttf);
}
 */
:root {
    --main: #8117de;
    --secondary: #995ad0;
  }

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

header {
    background-color: var(--main);
    box-shadow: 0 5px 5px rgb(178 178 178);
    padding: 0.75rem 2rem;
    display: flex;
    gap: 0.4rem;
    margin-bottom: 1rem;
}

.header-button,
.sidebar-button,
.task-detail-button {
    background: none;
	border: none;
}

.header-icon {
    height: 3rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(256deg) brightness(106%) contrast(101%);
}

.header-icon:hover {
    filter: invert(82%) sepia(33%) saturate(1048%) hue-rotate(37deg) brightness(94%) contrast(98%);
}

.sidebar {
    background-color: aqua;
}

.task-dashboard {
    background-color: #995ad0;
}

main {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar-button {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.5rem;
}

.sidebar-icon {
    height: 1.5rem;
}

.task-dashboard {
    flex: auto;
    flex-direction: column;
    padding: 0.75rem 1.5rem;
}

.task-container1 {
    display: flex;
    align-items: center;
}

#task-title {
    font-size: 1.2rem;
    padding: 0.5rem;
    flex:content;
    margin: 0.75rem 1rem;
}

input {
    border: none;
}

.task-detail-button {
    width: 2rem;
    filter: invert(20%) sepia(69%) saturate(6232%) hue-rotate(270deg) brightness(85%) contrast(108%);
}

.task-detail-button:hover {
    filter: invert(54%) sepia(74%) saturate(4301%) hue-rotate(241deg) brightness(87%) contrast(86%);
}

#task-completed {
    width: 2rem;
    height: 2rem;
}

.task-container2 {
    display: flex;
    gap: 1rem;
}
