/* @font-face {
    font-family: para;
    src: url(Exo2-VariableFont_wght.ttf);
}
 */
:root {
    --main: #8117de;
    --secondary: #995ad0;
  }

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

header {
    background-color: var(--main);
    box-shadow: 0 5px 5px rgb(178 178 178);
    padding: 0.75rem 2rem;
    display: flex;
    gap: 0.4rem;
    margin-bottom: 1.5rem;
}

.header-button,
.sidebar-button {
    background: none;
	border: none;
}

.header-icon {
    height: 3rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(256deg) brightness(106%) contrast(101%);
}

.header-icon:hover {
    filter: invert(82%) sepia(33%) saturate(1048%) hue-rotate(37deg) brightness(94%) contrast(98%);
}

.sidebar {
    background-color: aqua;
}

.task-dashboard {
    background-color: #995ad0;
}

main {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar-button {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.5rem;
}

.sidebar-icon {
    height: 1.5rem;
}

.task-dashboard {
    flex: auto;
    flex-direction: column;
}

.task-container1 {
    display: flex;
}

input {
    border: none;

}
