/* @font-face {
    font-family: para;
    src: url(Exo2-VariableFont_wght.ttf);
}
 */
:root {
    --main: #8117de;
    --main-filter: invert(20%) sepia(69%) saturate(6232%) hue-rotate(270deg) brightness(85%) contrast(108%);
    --secondary: #8e31e0;
    --secondary-filter: invert(22%) sepia(82%) saturate(4698%) hue-rotate(267deg) brightness(92%) contrast(89%);
    --tertiary: #a364db;
    --tertiary-filter: invert(47%) sepia(20%) saturate(2775%) hue-rotate(233deg) brightness(94%) contrast(81%);
    --hover: #e6d5f5;
    --inverse: #7ee821;
    --inverse-filter: invert(81%) sepia(86%) saturate(512%) hue-rotate(32deg) brightness(95%) contrast(92%);
    --inverse-active: #539618;
    --inverse-active-filter: invert(62%) sepia(65%) saturate(6830%) hue-rotate(64deg) brightness(101%) contrast(81%);
    --white-filter: invert(86%) sepia(100%) saturate(1764%) hue-rotate(182deg) brightness(130%) contrast(100%);
    --border-radius: 7px;
    --separator: solid 3px #aaaaaa;
    --button-padding: 0.75rem 1.5rem;
    --button-border-radius: 0.7rem;
    --transition-time: 0.2s;
  }

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    user-select: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
  }

#content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

footer {
    background-color: var(--main);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0;
    gap: 0.5rem;
    flex-shrink: 0;
    margin-top: 1.5rem;
}

.github {
    height: 1.5rem;
    width:auto;
    fill: white
}

.github:hover {
    transform: rotate(720deg);
    transition: transform 1.5s;
    fill: white
}

header {
    background-color: var(--main);
    box-shadow: 0 5px 5px rgb(178 178 178);
    padding: 1rem 1.5rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header-button,
.sidebar-button,
.task-detail-button,
.task-delete-button {
    background: none;
	border: none;
}

.header-icon {
    height: 3rem;
    filter: var(--white-filter)
}

.header-icon:hover {
    filter: var(--inverse-filter)
}

.header-icon:active {
    filter: var(--inverse-active-filter)
}

.header-search {
    border-radius: var(--border-radius);
    flex: content;
    margin-left: 2rem;
}

main {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0.75rem;
    margin-right: 1.5rem;
}

.sidebar-button {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: var(--separator);
}

.sidebar-icon {
    height: 1.5rem;
    filter: var(--main-filter)
}

.sidebar-icon:hover{
    filter: var(--secondary-filter)
}

.sidebar-icon:active {
    filter: var(--tertiary-filter)
}

.dashboard {
    flex: auto;
    padding: 0.25rem 2rem;
}

.task-dashboard {
    margin-bottom: 3rem;
}

.task-container1 {
    display: flex;
    align-items: center;
    border-bottom: var(--separator)
}

.task-title {
    font-size: 1.2rem;
    padding: 0.5rem;
    flex:content;
    margin: 0.75rem 1rem;
    border-radius: var(--border-radius);
}

input {
    border: none;
}

.task-detail-button,
.task-delete-button {
    filter: var(--main-filter);
        
}

.task-delete-button {
    width: 2.2rem;
}

.task-detail-button {
    transform: rotate(180deg);
}

.task-detail-button:hover,
.task-delete-button:hover {
    filter: var(--secondary-filter)
}

.task-detail-button:active,
.task-delete-button:active {
    filter: var(--tertiary-filter)
}

.task-completed {
    width: 2rem;
    height: 2rem;
}

.task-container2 {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: var(--separator);
}

.task-description {
    padding: 0.5rem;
    flex: content;
    font-size: 1.1rem;
}

.task-container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.task-container4 {
    display: flex;
    gap: 0.3rem;
}

.task-container4 > *,
.task-submit {
    padding: 0.6rem 0.5rem;
    border-radius: var(--border-radius);
    background-color: var(--main);
    border: none;
    color: white;
    font-weight: bold;
}

.task-container4 > *:hover,
.task-submit:hover {
    background-color: var(--secondary);
}

.task-container4 > *:active,
.task-submit:active {
    background-color: var(--tertiary);
}

.task-submit {
    border-radius: var(--border-radius);
    padding: 0.7rem 1.5rem;
    width: fit-content;
}

.task-edit-input {
    border-radius: var(--border-radius);
}

.projects-dashboard,
.edit-project-dash,
.upcoming-dash {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-weight: bolder;
}

.new-button {
    padding: var(--button-padding);
    background-color: var(--main);
    color: white;
    font-weight: bolder;
    border-radius: var(--border-radius);
    border: none;
}

.new-button:hover {
    background-color: var(--secondary);
}

.new-button:active {
    background-color: var(--tertiary);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
    gap: 1rem;
    width: 100%;
}

.project,
.upcoming-container {
    border: 3px solid var(--main);
    border-radius: 0.5rem;
    height: 10rem;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.project {
    justify-content: space-between;
}

.project:hover {
    background-color: var(--hover);
    border: 3px solid var(--tertiary);
}

.project > * {
    width: 100%;
    padding: .3rem 0;
    text-align: center;
    font-weight: bold;
}

.task-container {
    width: 100%;
    margin-bottom: 1rem;
}

.project-title-edit {
    background-color: transparent;
}

.project-title-edit:hover {
    background-color: white;
}

.project-title-edit:active {
    background-color: white;
}

.project-title,
.upcoming-title {
    font-size: 2rem;
}

.delete-project {
    height: 1.5rem;
}

.delete-project:hover {
    filter: var(--main-filter);
    height: 2rem;
    transition: height var(--transition-time);
}

.tasks-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40ch, 1fr));
    width: 90%;
    gap: 1rem;
}

.upcoming-container > * {
    font-weight: normal;
}

.upcoming-container:hover {
    background-color: var(--hover)
}

.upcoming-task-title {
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
}

.upcoming-task-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.upcoming-container2,
.upcoming-container1 {
    display: grid;
    gap: 0.75rem;
}

.upcoming-container2 {
    text-align: end;
}